body {
	background-color: #B2B2B2;
}
h1 { 
	text-align: center;
	color: #FFFFD1;
}
nav {
	text-align: center;
	font-weight: bold;
}
ul {
	list-style: none;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a.current {
	background-color: #E6E6E6;
}
a.underlined {
	text-decoration: underline !important;
}
footer > p > a {
	color: #000000;
}
footer > p {
	font-family: "Arial";
	font-size: 12px;
}
footer.main {
	text-align: center;
}
